<main>
    <input type="text">
    <label for="romantic">Romantic
        <input type="checkbox" name="romantic" id="romantic">
    </label>
    <label for="">Double Date
        <input type="checkbox" name="" id="">
    </label>
    <label for="">Budget
        <input type="checkbox" name="" id="">
    </label>
    <label for="">Outdoorsy
        <input type="checkbox" name="" id="">
    </label>
    <label for="">Adventurous
        <input type="checkbox" name="" id="">
    </label>
    <label for="">Cultural
        <input type="checkbox" name="" id="">
    </label>
    <label for="">Naughty
        <input type="checkbox" name="" id="">
    </label>
    <label for="">Blind Date
        <input type="checkbox" name="" id="">
    </label>
    <label for="">Spontaneous
        <input type="checkbox" name="" id="">
    </label>
    <label for="">Foodie
        <input type="checkbox" name="" id="">
    </label>
    <label for="">Add
         <input type="submit" name="" id="submit">
    </label>
</main>