<main>
  <form class="addForm" action="/addIdea" method="post" id='addForm'>
    <input type="text" name="addText">
    <label for="romantic">Romantic
        <input type="checkbox" name="Romantic" id="romantic">
    </label>
    <label for="doubleDate">Double Date
        <input type="checkbox" name="Double-Date" id="doubleDate">
    </label>
    <label for="budget">Budget
        <input type="checkbox" name="Budget" id="budget">
    </label>
    <label for="outdoorsy">Outdoorsy
        <input type="checkbox" name="Outdoorsy" id="outdoorsy">
    </label>
    <label for="adventurous">Adventurous
        <input type="checkbox" name="Adventurous" id="adventurous">
    </label>
    <label for="cultural">Cultural
        <input type="checkbox" name="Cultural" id="cultural">
    </label>
    <label for="naughty">Naughty
        <input type="checkbox" name="Naughty" id="naughty">
    </label>
    <label for="blindDate">Blind Date
        <input type="checkbox" name="Blind-Date" id="blindDate">
    </label>
    <label for="foodie">Foodie
        <input type="checkbox" name="Foodie" id="foodie">
    </label>
    <input type="submit" name="" id="submit" value="Add" class="submitAdd">
      </form>
</main>
