<main class="filterDisplay">
    <div class="filterbtn">Romantic</div>
    <div class="filterbtn">Double Date</div>
    <div class="filterbtn">Outdoorsy</div>
    <div class="filterbtn">Cultural</div>
    <div class="filterbtn">Blind Date</div>
    <div class="filterbtn">Foodie</div>
    <div class="filterbtn">Budget</div>
    <div class="filterbtn">Adventurous</div>
    <div class="filterbtn">Naughty</div>
</main>
