<main class="feelingluckyDisplay">
  <div class="resultsDiv">
    <h2> {{tag}} Ideas</h2>
    <section>
      {{#each ideasArr}}
        <ul class="dateIdeasList">
          <li> {{resName}}: {{resTags}}</li>
        </ul>
      {{/each}}
        <ul class="dateIdeasTags">

        </ul>
    </section>
  </div>
</main>
