<main>
    <h2> Other {{ideaTag}} Ideas</h2>
    <section>
      {{#each ideasArr}}
        <ul class="dateIdeasList">
          <li> {{this}}</li>
        </ul>
      {{/each}}
        <ul class="dateIdeasTags">

        </ul>
    </section>
</main>
