<body>
    <header>
        <h1>Big Title</h1>
        <form class="find" action="/filter" method="get" id='findBtn'>
          <input type="submit" name="" id="submit" value="Find" class="find_btn">
        </form>
        <form class="find" action="/add" method="get" id='findBtn'>
          <input type="submit" name="" id="submit" value="Add" class="find_btn">
        </form>
        <form class="find" action="/lucky" method="get" id='findBtn'>
          <input type="submit" name="" id="submit" value="Feeling Lucky" class="find_btn">
        </form>

        <!-- <div class="menuBtn" id ="findBtn">Find</div> -->
        <!-- <div class="menuBtn" id="addBtn">Add</div>
        <div class="menuBtn" id="luckyBtn">Feeling Lucky</div> -->
    </header>
